.gap1{
  gap: 10px;
}

.pointer{
  cursor: pointer !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width:12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--builder-color-accent);
}

input:focus + .slider {
  box-shadow: 0 0 1px #101010;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
  background-color: #000000;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.icon-button{
  cursor: pointer;
  &:hover{
    color: var(--builder-color-accent);
  }
}

.overlay-loader{
  display: flex;
  justify-items: center;
  position: absolute;
  inset: 0;
  background-color: #000000a8;
  content: "";
  z-index: 999;
  align-items: center;
  justify-content: center;
}